@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  background: #494949;
  padding: 39px 40px 39px 57px;
  /* padding: 39px 40px 39px 219px ; */

  
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

@font-face {
  font-family: Sansita One;
  src: url(./assets/fonts/sansita-one/SansitaOne.ttf);
}


@media screen and (min-width: 1441px) {
  :root{
    /* padding: 39px 0; */
  }
}
